<ion-view title="Create Post">
  <ion-content>
    <form>
      <div class="list list-inset">
        <label class="item item-input">
          <input type='text' placeholder="Caption" ng-model="post.caption"/>
        </label>
        <div class="text-center">
          <img ng-src="{{post.image}}"  height="200px" width="auto"/>
        </div>
      </div>
      <button class="button button-block button-positive" ng-click="takePostPic()">
        Take Picture
      </button>
      <button class="button button-block button-positive" ng-click="createPost()">
        Create Post
      </button>
    </form>
  </ion-content>
</ion-view>
