<ion-view title="Create Profile">
  <ion-content>
    <form>
      <div>
        <div class="list list-inset">
          <label class="item item-input">
            <input type='text' placeholder="Full Name" ng-model="profile.name"/>
          </label>
          <div class="text-center">
            <img ng-src="profile.image" ng-click="addProfilePic()" height="200px" width="auto"/>
          </div>
        </div>
      </div>
    </form>
    <button class="button button-block button-positive" ng-submit="createProfile()">
      Register Profile
    </button>
  </ion-content>
</ion-view>


