
<ion-view title="Login Screen">
  <ion-content>
    <form ng-submit="authctrl.login()">
    <div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="authCtrl.user.email" />
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="authCtrl.user.password"/>
        </label>
      </div>
      <div class="padding-left padding-right">
      </div>
    </div>
      </form>
  </ion-content>
