<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-header-bar class="bar-stable">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <h1 class="title">Image App</h1>
    </ion-header-bar>
    <ion-nav-bar class="bar-light bar-subheader">
      <ion-nav-back-button>
        Back
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" class="has-header" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/map">
          Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/myposts" ng-if="authorized">
          My Posts
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/myprofile" ng-if="authorized">
          My Profile
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/register" ng-if="!authorized">
        Become a Member
        </ion-item>
        <ion-item  nav-clear menu-close href="#/app/login" ng-if="!authorized">
          Login
        </ion-item>
        <ion-item  nav-clear menu-close ng-click="logout()" ng-if="authorized">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
