<ion-view title="Become a Member">
  <ion-content>
    <div ng-show="error">
      <span>{{error.message}}</span>
    </div>
    <form ng-submit="createUser()">
    <div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="currentUser.email" />
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="currentUser.password"/>
        </label>
      </div>
    </div>
      <button class="button button-block button-positive" >
        Register Profile
      </button>
    </form>
  </ion-content>
  </ion-view>

