<ion-view title="Registration Page">
  <ion-content>
    <div ng-show="authctrl.error">
      <span>{{authctrl.error.message}}</span>
    </div>
    <form>
    <div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="authCtrl.user.email" />
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="authCtrl.user.password"/>
        </label>
        <label class="item item-input">
          <input type='text' placeholder="Full Name" ng-model="authCtrl.user.name"/>
        </label>
        <div>
          <img ng-src="map-app/www/img/profileimg.png" ng-click="show()" height="200px" width="auto"/>
        </div>
      </div>
      </div>
      </form>
    <button class="stable" ng-submit="authCtrl.register()">
      Register Profile
    </button>
  </ion-content>
  </ion-view>

